
#style
{
    display: inline-block;
    border-radius: 1px;
    width: 250px;
    border: 1px solid #ccc;
}

#date
{
    background-color:aliceblue;
    border-color: #ccc;
    border-style:double;
    border-width:8px;
    text-align: center;
    left: 20px;
}